.main-form{
    margin: 2% 15%;
    background-color: white;
    padding: 3%;
    border-radius: 7px;
    border: 1px solid var(--border-color);
}

#inputDateTime{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid;
}

.char-counter{
    float: right;
    margin-top: 5px;
}