:root {
    --main-color: #2e5db4;
    --bgt-main-color: #f7f7f7;
    --border-color: rgba(95, 95, 95, 0.205);
    --text-light-gery: #696969;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgt-main-color);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.btn-primary-my {
    background-color: var(--main-color);
    color: white;
    border-radius: 7px;
    padding: 10px;
}
.btn-primary-light-my {
    color: var(--main-color);
    background-color: white;
    border-radius: 7px;
    padding: 10px;
}

.btn-primary-my:hover {
    background-color: var(--main-color);
    color: white;
}

.btn-secondary-my {
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    border-radius: 7px;
    padding: 8px;
}

label{
	font-weight: bold;
}

.brand-name{
	color: var(--main-color);
}